In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myindex = ['USA','CANADA','UZBEKISTAN']

In [4]:
mydata = [177,161,151]

In [8]:
myser = pd.Series(data = mydata,index=myindex)

In [9]:
myser

USA           177
CANADA        161
UZBEKISTAN    151
dtype: int64

In [10]:
myser[0]

177

In [11]:
myser["USA"]

177

In [12]:
 ages = {'Sam':5,'Elly':21,'SHoh':22}

In [13]:
pd.Series(ages)

Sam      5
Elly    21
SHoh    22
dtype: int64